@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('/fonts/MyriadPro-Regular.eot');
  src: url('/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-Regular.woff') format('woff'),
  url('/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('/fonts/MyriadPro-Light.eot');
  src: url('/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-Light.woff') format('woff'),
  url('/fonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light SemiExtended';
  src: url('/fonts/MyriadPro-LightSemiExt.eot');
  src: url('/fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-LightSemiExt.woff') format('woff'),
  url('/fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url('/fonts/HelveticaNeueCyr-Light.eot');
  src: url('/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
  url('/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:#f5f2f2;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.header { 
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.upper_menu {
  background-color: burlywood;
  height: 48px;
  background-color: #00aa4b;
  margin-top: 444px;
  width: 1920px;
}

.upper_menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 188px;
  padding-left: 189px;
}

.upper_menu_wrapper p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email img {
  max-width: 20px;
  max-height: 15px;
  margin-right: 10px;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone img {
  max-width: 20px;
  max-height: 16px;
  margin-right: 10px;
}

.navigation_form {  
  height: 64px;

  
}

.navigation_form_wrapper {
  display:flex;
  justify-content: left;

}



.navigation_form_logo {
  height: 64px;
  margin-left: 195px;
  display:flex;
  justify-content: left;
  align-items: center;
}

.navigation_form_logo_img {
  margin-top: 12px;
}
.navigation_form_logo_name {
  margin-top: 5px;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 33px;
  font-weight: 400;
}

.navigation_form_search {
  width: 883px;
  height: 33px;
  border: 1px solid #00aa4b;
  margin-top: 14px;
  margin-left: 62px;
}

.navigation_form_gos_supplier_icon {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-left: 62px;
}

.navigation_form_gos_supplier_icon p {
  margin-top: 17px;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.navigation_form_gos_supplier_icon img {
  margin-right: 5px;
  margin-top: 12px;
}

.shopping_cart {
  margin-top: 22px;
  margin-left: 38px;
}

.applience_menu {
  height: 100px;
  box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  /* margin-right: auto;
  margin-left: auto; */
}
.applience_menu_wrapper {
  padding-top: 9px;
  height: 100px;
  display: flex;
  justify-content: space-between;

}

.last {
  margin-right: 214px;
}

.first {
  margin-left: 184px;
}
.applience_menu_box {
  text-align: center;
  width: 57px;
  height: 80px;
  
}

.applience_menu_box .img{
  /* border: 1px solid black; */
  position: relative;
  margin-right: auto;
  margin-left: auto;

}
.applience_menu_box .p {
  color: #343434;
  height: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  margin-top: 0px;
  padding-top: 0px;
  /* border: 1px solid black; */
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 10px;
  white-space: nowrap;
}

/* Зона Баннера началась */

.banner_zone {
  width: 1550px;
  height: 476px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
}
 
.banner_zone_wrapper {
  display: flex;
  justify-content: left;

}

.goal_advices {
  width: 303px;
  height: 476px;
  background-color: #fff;
  margin-right: 22px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.goal_advices .h3 {
  font-size: 24px;
  padding-top: 28px;
  margin-bottom: 18px;
  padding-left: 28px;
  color: #ffaf2d;
  
}
.li_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 400px;

}
.goal_advices .li {
  padding-left: 28px;
  padding-top: 10px;
  height: 44px;
  border-bottom: 1px solid #f5f2f2;
}

.li_last {
  padding-left: 28px;
  padding-top: 10px;
  height: 44px;
  border-bottom: 0px solid white;
}

.big-picture {
  width: 902px;
  height: 476px;
  background-color: #232323;
  margin-right: 22px;
}

.gift-box {
  width: 296px;
  height: 472px;
  border-radius: 2px;
  border: 2px solid #ffaf2d;
  background-color: #fff;
} 
/* Зона Баннера закончилась */

/* Зона логотипов началась */
 .logos {
  margin-top: 20px;
  width: 1550px;
  height: 101px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.logos_adaptive {
  display: none;
}

.logos_wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 84px;
  padding-left: 56px;
  padding-top: 35px;
}


.logo p {
  line-height: 0px;
}

/* Зона логотипов закончилась */
/* Начало зоны новостей */
.news {
  width: 1550px;
  height: 780px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
}

.news .h3 {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 40px;
  font-weight: 100;
  padding-left: 70px;
  height: 30px;
  line-height: 70px;
  vertical-align: top;

}

.news_wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  padding-left:50px;
  padding-top: 54px;
}

.news_wrapper_new {
  width: 822px;
  height: 167px;


}

.new_1 {
  background-color: white;
  width: 489px;
  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
  
}

.new_2 {
  background-color: white;
  margin-left: 105px;
  margin-top: 20px;
  margin-bottom: 44px;
  
}

.new_3 {
  background-color: white;
  margin-left: 105px;
  margin-bottom: 44px;
}

.new_4 {
  background-color:  white;
  margin-left: 105px;
}

.all_news {
  margin-left: 73px;
  margin-top: 43px;
  width: 162px;
  height: 32px;
  border: 1px solid black;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
/* Конец зоны новостей */

/* Начало зоны рекомендаций */
.recomendations_title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 165px;
}

.recomendations_title .h2 {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 40px;
  text-align: center;
}

.rocomendation_p {
  width: 670px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.recomendation_zone {
  width: 1390px;
  height: 743px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;

}

.recomendation_zone_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recomendation_zone_1 {
  width: 594px;
  height: 745px;
  background-color:#ffffff;
}

.recomendation_zone_2_3_container {
  width: 784px;
  height: 745px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.recomendation_zone_2 {
  width: 784px;
  height: 419px;
  background-color:#ffffff;
}

.recomendation_zone_3 {
  width: 784px;
  height: 316px;
  background-color: #ffffff;
}
/* Конец зоны рекомендаций */

/* Начало комплексных решений */
.complex_solutions {
  width: 1390px;
  height: 516px;
  margin-right: auto;
  margin-left: auto;

  margin-top: 171px;
}

.complex_solutions_wrapper {
  display:flex;
  justify-content: space-between;
}

.complex_solutions_first_column_container {
  width: 831px;
  height: 516px;
  background-color: rgb(207, 199, 239);
}

.complex_solutions_second_column_container {
  width: 308px;
  height: 516px;
  background-color: rgb(148, 233, 153);
}

.circle {
  width: 49px;
  height: 49px;
  background-color: #232323;
  border-radius: 25px;
  margin-left: 875px;
  margin-top: 40px;
}

.plus {
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

/* Конец комплексных решений */

/* Начало подвала */
.footer {
  width: 1920px;
  height: 482px;
  margin-left: auto;
  margin-right: auto;
  background-color:#232323;
  margin-top: 172px;
}

.footer_wrapper {
  display: flex;
  justify-content: left;
  color:#fff;
}

.footer_wrapper_information {
  height: 281px;
  width: 141px;
  margin-left: 262px;
  margin-top: 87px;
  background-color:#232323;
}

.footer_wrapper_equipment {
  height: 305px;
  width: 165px;
  margin-left: 258px;
  margin-top: 87px;
  background-color:#232323;
}

.footer_wrapper_preposition {
  height: 263px;
  width: 181px;
  margin-left: 237px;
  margin-top: 87px;
  background-color:#232323;
}

.footer_wrapper_contacts {
  height: 270px;
  width: 184px;
  margin-left: 228px;
  margin-top: 87px;
  background-color:#232323;
  display: flex;
  justify-content: left;

  flex-direction: column;
}

.footer_title {
  text-align: left;
  font-size: 24px;
  color: #777777;

}

.footer_list {
  color: #cbcbcb;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 28px;
}

.footer_list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer_wrapper_contacts_title {
/*  */
}
.footer_wrapper_contacts_list {
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
}

.contacts_data p{
  line-height: 5px;
}

/* Конец подвала */

/* Under footer начало */
.under_footer {
  width: 1920px;
  height: 110px;
  background-color: #191919;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
}

.under_footer_logo {
  margin-left: 265px;
  margin-top: 42px;
}

.under_footer_name {
  width: 269px;
  height: 38px;
  margin-left: 17px;
  margin-top: 46px;
  color:#777777;
}
.under_footer_agency {
  color:#777777;
  margin-top: 40px;
  margin-left: 830px;
}

.under_footer_name_name {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.7px;
  font-weight: 400;
}
.under_footer_name_slogan {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
}

.adaptive_footer, .adaptive_under_footer {
  display: none;
}
/* Under footer конец */

/* adptiv 767 */

@media (max-width: 767px) {
  .header, .goal_advices, .logos, .footer, .under_footer, .news, .adaptive_header {
    display: none;
  }
  .adaptive_header {
    display: block;
    height: 140px;
    width: 751px;
    background-color: #f1f1f1;
  
  }

  .adaptive_header_first {
      display: flex;
      justify-content: left;
      align-items: center;
      border-bottom: 1px solid #e2e2e2;
  }

  .burger {
    margin-left: 30px;
  }
  .header_first_logo {
    margin-left: 30px;
  }

  .header_first_slogan {
    width: 189px;
    height: 46px;
    margin-left: 10px;
    background-color: #fff;
  }

  .header_first_search {
    margin-left: 107px;
  }

  .header_first_phone {
    margin-left: 41px;
  }

  .header_first_cart {
    margin-left: 33px;
  }

  .adaptive_header_second {
    display: flex;
    justify-content: left;
  }

  .adaptive_header_second :first-child {
    margin-left: 30px;
    margin-top: 27px;
    font-size: 30px;
  }

  .adaptive_header_second :last-child {
    margin-left: 476px;
    margin-top: 32px;
    font-size: 30px;
  }


  .header_banner_zone {
    width: 751px;
  }
  .banner_zone {
    width: 751px;
    height: 1000px;
    margin-left: auto;
    
  }
   
  .banner_zone_wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .gift-box {
    height: 476px;
    width: 690px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .logos_adaptive {
    display: block;
    margin-top: 20px;
    width: 690px;
    height: 515px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  
  .logos_wrapper_adaptive {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-right: 84px;
    padding-left: 56px;
    padding-top: 35px; */
  }
  .logo_adaptive {
    position: relative;
    width: 342px;
    height: 169px;
  }
  
  .logo_adaptive p {
    line-height: 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo_adaptive img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .recomendations_title {
    height: 431px;
    padding-top: 151px;
    margin-top: 30px;
  }

  .recomendations_title .h2 {
    font-size: 50px;
  }

  .recomendations_title .rocomendation_p {
    font-size: 30px;
  }

  .recomendation_zone {
    margin-top: 30px;
    width: 694px;
    height: 1480px;
  
  }
  .recomendation_zone_2_3_container{
    height: 966px;
    width: 694px;
  }
  .recomendation_zone_wrapper, .recomendation_zone_2_3_container {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .recomendation_zone_1, .recomendation_zone_2, .recomendation_zone_3 {
    width: 694px;
    height: 483px;
    margin-bottom: 15px;
  }

  .complex_solutions {
    width: 750px;
    height: 1610px;

    margin-top: 0px;
  }

  .complex_solutions_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .complex_solutions_second_column_container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 85px;
    height: 662px;
    margin-bottom: 143px;
  }
 .complex_solutions_logo {
    width: 249px;
    height: 249px;
    margin-bottom: 63px;
 }

 .complex_solutions_text {
  width: 408px;
  height: 350px;
 }
 .complex_solutions_first_column_container {
  width: 658px;
  height: 805px;
  margin-right: auto;
  margin-left: auto;
 }

 .circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin:60px 0 0 50px;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 155px;

 }

 .plus {
  display: block;
  line-height: 0;
  height: 100px;
  width: 100px;
  padding-top: 48px;
  }

  .adaptive_footer {
    display:block;
    /* max-width: 752px; */
    height: 564px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding-left: 51px;
    background-color: #282828;
  }

  .adaptive_footer_wrapper {
    display: flex;
    height: 462px;
    justify-content: space-between;
    flex-direction: column;
    color:white;
    padding-top: 51px;
    
  }

  .ad_f_li {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 633px;
    background-color: #282828;
    border-bottom: 1px solid #f3f2f2;
  }

  .ad_f_li div {
    font-family: "Myriad Pro Light SemiExtended";
    font-size: 30px;
    font-weight: 200;
    padding-top: 25px;
    
  }

  .ad_f_li_last {
    border-bottom: 0px solid #f3f2f2;
  }

  .adaptive_under_footer {
    display:block;
    width: 767px;
    height: 280px;
    background-color: #1f1f1f;
  }

  /* .adaptive_under_footer_wrapper {
    border: 1px solid orange;

  } */

  .first {
    margin: 0;
    display: flex;
    justify-content: left;
    padding: 0;
   }

  .adaptive_under_footer_logo {
    display:block;
    width: 767px;
    margin-top: 42px;
    margin-left: 49px;

  }
  .adaptive_under_footer_slogan {
    
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 45px;
    width: 100px;
    margin-right: 500px;
  }
  .adaptive_under_footer_slogan :first-child {
    color: white;
    font-size: 50px;
  }

  .adaptive_under_footer_slogan :last-child {
    font-family: 'Myriad Pro Light SemiExtended';
    color: #6a6a6a;
    font-weight: 100;
    white-space: nowrap;
    font-size: 30px;
    margin-top: 15px;
    line-height: 0px;
  }

  .second {
    color: white;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 48px;
  }

}