@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('/fonts/MyriadPro-Regular.eot');
  src: url('/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-Regular.woff') format('woff'),
  url('/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('/fonts/MyriadPro-Light.eot');
  src: url('/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-Light.woff') format('woff'),
  url('/fonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light SemiExtended';
  src: url('/fonts/MyriadPro-LightSemiExt.eot');
  src: url('/fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-LightSemiExt.woff') format('woff'),
  url('/fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url('/fonts/HelveticaNeueCyr-Light.eot');
  src: url('/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
  url('/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:#f5f2f2;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.header { 
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.upper_menu {
  background-color: burlywood;
  height: 48px;
  background-color: #00aa4b;
  margin-top: 444px;
  width: 1920px;
}

.upper_menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 188px;
  padding-left: 189px;
}

.upper_menu_wrapper p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email img {
  max-width: 20px;
  max-height: 15px;
  margin-right: 10px;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone img {
  max-width: 20px;
  max-height: 16px;
  margin-right: 10px;
}

.navigation_form {  
  height: 64px;

  
}

.navigation_form_wrapper {
  display:flex;
  justify-content: left;

}



.navigation_form_logo {
  height: 64px;
  margin-left: 195px;
  display:flex;
  justify-content: left;
  align-items: center;
}

.navigation_form_logo_img {
  margin-top: 12px;
}
.navigation_form_logo_name {
  margin-top: 5px;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 33px;
  font-weight: 400;
}

.navigation_form_search {
  width: 883px;
  height: 33px;
  border: 1px solid #00aa4b;
  margin-top: 14px;
  margin-left: 62px;
}

.navigation_form_gos_supplier_icon {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-left: 62px;
}

.navigation_form_gos_supplier_icon p {
  margin-top: 17px;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.navigation_form_gos_supplier_icon img {
  margin-right: 5px;
  margin-top: 12px;
}

.shopping_cart {
  margin-top: 22px;
  margin-left: 38px;
}

.applience_menu {
  height: 100px;
  box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}
.applience_menu_wrapper {
  padding-top: 9px;
  height: 100px;
  display: flex;
  justify-content: space-between;

}

.last {
  margin-right: 214px;
}

.first {
  margin-left: 184px;
}
.applience_menu_box {
  text-align: center;
  width: 57px;
  height: 80px;
  
}

.applience_menu_box .img{
  /* border: 1px solid black; */
  position: relative;
  margin-right: auto;
  margin-left: auto;

}
.applience_menu_box .p {
  color: #343434;
  height: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  margin-top: 0px;
  padding-top: 0px;
  /* border: 1px solid black; */
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 10px;
  white-space: nowrap;
}

/* Зона Баннера началась */

.banner_zone {
  width: 1550px;
  height: 476px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
}
 
.banner_zone_wrapper {
  display: flex;
  justify-content: left;

}

.goal_advices {
  width: 303px;
  height: 476px;
  background-color: #fff;
  margin-right: 22px;
}


.goal_advices ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.big-picture {
  width: 902px;
  height: 476px;
  background-color: #232323;
  margin-right: 22px;
}

.gift-box {
  width: 296px;
  height: 472px;
  border-radius: 2px;
  border: 2px solid #ffaf2d;
  background-color: #fff;
} 
/* Зона Баннера закончилась */

/* Зона логотипов началась */
 .logos {
  margin-top: 20px;
  width: 1550px;
  height: 101px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.logos_wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 84px;
  padding-left: 56px;
  padding-top: 35px;
}


.logo p {
  line-height: 0px;
}

/* Зона логотипов закончилась */
/* Начало зоны новостей */
.news {
  width: 1550px;
  height: 780px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
}

.news .h3 {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 40px;
  font-weight: 100;
  padding-left: 70px;
  height: 30px;
  line-height: 70px;
  vertical-align: top;

}

.news_wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  padding-left:50px;
  padding-top: 54px;
}

.news_wrapper_new {
  width: 822px;
  height: 167px;


}

.new_1 {
  background-color: white;
  width: 489px;
  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
  
}

.new_2 {
  background-color: white;
  margin-left: 105px;
  margin-top: 20px;
  margin-bottom: 44px;
  
}

.new_3 {
  background-color: white;
  margin-left: 105px;
  margin-bottom: 44px;
}

.new_4 {
  background-color:  white;
  margin-left: 105px;
}

.all_news {
  margin-left: 73px;
  margin-top: 43px;
  width: 162px;
  height: 32px;
  border: 1px solid black;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
/* Конец зоны новостей */

/* Начало зоны рекомендаций */
.recomendations_title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 165px;
}

.recomendations_title .h2 {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 40px;
  text-align: center;
}

.rocomendation_p {
  width: 670px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.recomendation_zone {
  width: 1390px;
  height: 743px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;

}

.recomendation_zone_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recomendation_zone_1 {
  width: 594px;
  height: 745px;
  background-color:#ffffff;
}

.recomendation_zone_2_3_container {
  width: 784px;
  height: 745px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.recomendation_zone_2 {
  width: 784px;
  height: 419px;
  background-color:#ffffff;
}

.recomendation_zone_3 {
  width: 784px;
  height: 316px;
  background-color: #ffffff;
}
/* Конец зоны рекомендаций */

/* Начало комплексных решений */
.complex_solutions {
  width: 1390px;
  height: 516px;
  margin-right: auto;
  margin-left: auto;

  margin-top: 171px;
}

.complex_solutions_wrapper {
  display:flex;
  justify-content: space-between;
}

.complex_solutions_first_column_container {
  width: 831px;
  height: 516px;
  background-color: rgb(207, 199, 239);
}

.complex_solutions_second_column_container {
  width: 308px;
  height: 516px;
  background-color: rgb(148, 233, 153);
}

.circle {
  width: 49px;
  height: 49px;
  background-color: #232323;
  border-radius: 25px;
  margin-left: 875px;
  margin-top: 40px;
}

.plus {
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

/* Конец комплексных решений */

/* Начало подвала */
.footer {
  width: 1920px;
  height: 482px;
  margin-left: auto;
  margin-right: auto;
  background-color:#232323;
  margin-top: 172px;
}

.footer_wrapper {
  display: flex;
  justify-content: left;
  color:#fff;
}

.footer_wrapper_information {
  height: 281px;
  width: 141px;
  margin-left: 262px;
  margin-top: 87px;
  background-color:#232323;
}

.footer_wrapper_equipment {
  height: 305px;
  width: 165px;
  margin-left: 258px;
  margin-top: 87px;
  background-color:#232323;
}

.footer_wrapper_preposition {
  height: 263px;
  width: 181px;
  margin-left: 237px;
  margin-top: 87px;
  background-color:#232323;
}

.footer_wrapper_contacts {
  height: 270px;
  width: 184px;
  margin-left: 228px;
  margin-top: 87px;
  background-color:#232323;
  display: flex;
  justify-content: left;

  flex-direction: column;
}

.footer_title {
  text-align: left;
  font-size: 24px;
  color: #777777;

}

.footer_list {
  color: #cbcbcb;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 28px;
}

.footer_list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer_wrapper_contacts_title {
/*  */
}
.footer_wrapper_contacts_list {
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
}

.contacts_data p{
  line-height: 5px;
}

/* Конец подвала */

/* Under footer начало */
.under_footer {
  width: 1920px;
  height: 110px;
  background-color: #191919;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
}

.under_footer_logo {
  margin-left: 265px;
  margin-top: 42px;
}

.under_footer_name {
  width: 269px;
  height: 38px;
  margin-left: 17px;
  margin-top: 46px;
  color:#777777;
}
.under_footer_agency {
  color:#777777;
  margin-top: 40px;
  margin-left: 830px;
}

.under_footer_name_name {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.7px;
  font-weight: 400;
}
.under_footer_name_slogan {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
}

/* Under footer конец */